<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add  name="KeyOfDatabase" connectionString="Data Source=DESKTOP-IOAJ6N2\SQLEXPRESS;Initial Catalog=HistoryOfOperation;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>